@charset "utf-8"
// 1. :-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-: Variables

// Fonts

$header-font: 'Archer A', 'Archer B', 'Roboto Slab', 'Times New Roman', serif
$body-font: 'Verlag A', 'Verlag B', 'Avenir Next', 'Helvetica', Arial, sans-serif

// Colors

$white: white
$black: #303030
$sky: #2DCCD3
$teal: #0097A9
$denim: #071D49
$strawberry: #FF585D
$mustard: #F0B323
$carrot: #EA7600
$slate: #888B8D
$cloud: #C8C9C7


// 2. :-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-: Mixins

@mixin square($n)
  height: $n
  width: $n

@mixin not-phones
  @media screen and (min-width: 768px)
    @content
@mixin not-tablets
  @media screen and (min-width: 992px)
    @content
@mixin not-desktop
  @media screen and (min-width: 1200px)
    @content

@mixin phones
  @media screen and (max-width: 768px)
    @content
@mixin tablets
  @media screen and (max-width: 992px)
    @content
@mixin desktop
  @media screen and (max-width: 1200px)
    @content

@mixin bg($path)
  background-image: url($path)

@mixin grid($w)
  width: #{$w + '%'}
  display: inline-block

@each $width in ((10)(20)(25)(30)(33)(40)(50)(60)(70)(75)(100))
  .col_#{$width}
    +grid($width)

// 3. :-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-: Vendor Imports

@import "_vendors/normalize"
@import "_vendors/bourbon/bourbon"
//@import "_vendors/avalanche"

// 4. :-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-: Partials
@import "animation"
// 5. :-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-: Base Styles
*
  //font-size: 15px

body
  font-family: $body-font

@each $element in (h1,h2,h3,h4,h5,h6)
  #{$element}
    font-family: $header-font

.sr_only
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0,0,0,0)
  border: 0

section
  height: calc(100vh - 2rem)
  width: calc(100% -4rem)
  padding: 2rem

// ^*^*^*^*^*^*^*^*^ Section 1
.s1
  background: url(/img/bg_s1.png)
  background-size: cover
  +display(flex)
  +align-items(center)
  +justify-content(center)
  color: $denim
  text-align: right
  h2
    font-family: $body-font
    font-size: 3rem
    font-weight: normal
  p
    font-size: 2.5rem


.iphone_1
  width: 100%
  +filter(drop-shadow(2px 3px 3px black))
  +animation(dope 12s infinite)
.store_btns
  max-width: 40%
  +display(flex)
  +align-self(flex-end)
.as_btn
  display: inline-block
  height: 70px
  width: calc(50% - 1rem)
  margin-right: 1rem
