section.section.one
  .col_30.spaced
    img(src="/img/Iphone_results.png" class="iphone_1" alt="Hatcx cost Reults Screen")
  .col_70
    include ../../img/hatcx_cost_logo.svg
    h1.sr_only Hatcx Cost
    h2 Take control of your healthcare costs
    p A new app from
      a(href="http://hatcx.comx").hatcx-logo
        include ../../img/Hatcx_logo.svg
