section
  h2 Be In control
  p HATCX cost is the revolutionary new way to save on money on hundreds of common healthcare services.
  p You yourself can find the closest and most affordable care, integrating with your insurance plan for reliable, personalized results.
  .Play
    button Play
    span See How It Works
