section.section.two
  .overlay
    a.x-out
      span
      span
    .wrapper
      iframe(width="1280" height="720" src="https://www.youtube.com/embed/he8_XjNJCHM?ecver=1" frameborder="0" allowfullscreen)
  .col_30
    img(src="/img/f_hand_w_phone.png" class="phone_hand")
  .col_70.h_text
    h2 Be In control
    .indent
      p HATCX cost is a new app that will help you save money on hundreds of healthcare services.
      p You will be able to find the closest, most affordable healthcare that integrates with your insurance plan; to get reliable & personalized results that work for you.
      .playContainer
        a#play-link
          include ../../img/playbutton.svg
        span See How It Works!
