section.section.three

  .col_50
    h2 Know Your Cost
    p By integrating with your health insurance plan, HATCX cost can provide you an accurate estimate on services, help you spend smarter & budget wisely.
    p No more waiting for the bill to come in the mail!  You can search, find the cost for services & stop stressing about what that bill may be.
    p Sounds pretty great, right?  Help us spread the word!
    .socialbuttons
      a(href="https://www.facebook.com/sharer/sharer.php?u=http%3A//hatcx.com" target="_blank").Icon.fb
        include ../../img/facebook.svg
        span.sr_only Share On Facebook
      a(href="https://twitter.com/home?status=Check%20out%20this%20awesome%20new%20health%20cost%20saving%20app%3A%20http%3A//hatcx.com" target="_blank").Icon.twitter
        include ../../img/twitter.svg
        span.sr_only Twitter
  
  .col_50.o_wrapper
    .onion.scn1
      img(src="../img/phone_tilt1.png")
    .onion.scn2
      img(src="../img/phone_tilt2.png")
    .onion.scn3
      img(src="../img/phone_tilt3.png")
  .bgWrapper
