section.s3
  h2 Know Your Cost
  p By integrating with your health insurance plan, HATCX cost can help you get an accurate estimate on services & help you spend smarter & budget wisely.
  p No more waiting for the bill to come in the mail!  You can search, find the cost for services & stop stressing about what that bill may be.
  p Sounds pretty great, right? Help us spread the word!
  .buttons
    a.facebookIcon
      include ../../img/facebook-square.svg
      span.sr_only Facebook
    a.twitterIcon
      include ../../img/twitter-square.svg
      span.sr_only Twitter
