section
  include ../../img/hatcx_cost_logo.svg
  p Download  Today, and Take control of your healthcare
  p Want to know more?  Sign Up for Updates
  form
    input(type='email' placeholder='Email@example.com')
    input(type='submit' value="Send")
