section.section.four
  include ../../img/hatcx_cost_logo.svg
  p Download now & take control of your healthcare costs.<br> Want to know more? Sign up for updates
  form(action="" class="mailCap")
    input(type='email' placeholder='Email@example.com')
    input(type='submit' value="Send")
  p.attribution &copy 2017
    span
      include ../../img/Hatcx_logo.svg
