+phones

  $sectionPadding: 1rem
  section
    padding: $sectionPadding
  .section.one
    +flex-direction(column-reverse)
    h2
      font-size: 1rem
      text-align: center
    p
      font-size: 1rem
  .iphone_1
    width: 50%
    margin: 0 auto
    display: block
  .cost_logo
    width: 80%
    margin: 0 auto
    display: block
