doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Dope
    link(rel="stylesheet" href="/css/main.css")
  body
    .store_btns
      a.as_btn.iOS(href="#")
        include ../img/apple_store.svg
        span.sr_only Apple store
      a.as_btn.gplay(href="#")
        include ../img/gplay.svg
        span.sr_only Play Store
    main#fullpage
      include partials/_s1
      include partials/_s2
      include partials/_s3
      include partials/_s4
    footer
      script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
      script(src="/js/jquery.fullpage.min.js")
      script(src="/js/main.js")
